main, h1{ padding: 1em;
  color: orangered}

html{
  background-color: rgb(247, 241, 241);
}

img{
  height: 10rem;
  width: auto;
  border-radius: 10%;
}
ul{
  list-style-type:none;
}

main p{
  background-color: rgb(128, 128, 128)
  color: orangered;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
  color: orangered;
}
